numpy==1.24.3
opencv-python-headless==4.8.0.76
opencv-contrib-python-headless==4.8.0.76
# دیگر نیازی به نصب dlib به این روش نیست
# dlib==19.24.2
face_recognition_models==0.3.0
# نصب مستقیم dlib با وابستگی‌های کامپایل شده
dlib==19.22.1
face-recognition==1.3.0
flask==2.3.3
requests==2.31.0
pillow==10.0.1 